<%- include('../partials/header') %>

    <form action="/chapters" method="POST" autocomplete="off">
        <input type="text" name="chapter">
        <button type="submit">Save Chapter</button>
    </form>

    <%- include('../partials/footer') %>